DATABASE_URL=
WORKER_URL=
BETTER_AUTH_SECRET="..."        # sudah ada
GITHUB_CLIENT_ID="..."          # dari GitHub
GITHUB_CLIENT_SECRET="..."      # dari GitHub
NEXT_PUBLIC_APP_URL="http://localhost:3000"